.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #3a5a40;
  color: #a3b18a;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a3b18a;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #3a5a40;
  color: #a3b18a;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #588157;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.loading{
  color: white;
  font-size: 1.5rem;
  text-align: center;
}


::placeholder {
  color: #dad7cd;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #dad7cd;
}